.login {
    width: 376px;
    height: 437px;
    background-color: antiquewhite;
  }
  .title{
    width: 20px;
    height: 20px;
    margin-left: 30%;
    gap: 20px;
    color: rgb(91, 219, 74);
    margin-top: 25px;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }