<div style="background-color: black">
    <div>
        <mat-toolbar>My App</mat-toolbar>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" style="height: 90vh">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>DAG II</mat-card-title>
              <mat-card-subtitle>Action Movie</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/dag2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                In a desolate war zone where screams of the innocent echo, on the very line between disaster and valor, 7 Maroon Berets will dance with death.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>Rating</button><span>4.5/5</span>
              <button mat-button routerLink="/theator">BOOK NOW</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>